<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.guruPrakash.SpringJenkinsHeroku"/>

    <bean id=" person" class="com.guruPrakash.SpringJenkinsHeroku.classes.Person">
        <constructor-arg value="Guru" type="String"></constructor-arg>
        <constructor-arg value="chas" type="String"></constructor-arg>
        <constructor-arg value="10" type="int"></constructor-arg>
    </bean>
</beans>